<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medlinker.photoviewer">

    <application>
        <activity android:name=".CasePhotoViewerActivity" />
        <activity android:name=".PhotoViewerActivity" />
    </application>

</manifest>