/*/build
/*/*/build
/.idea
/.gradle
/*.iml
/*/*.iml
/*/*/*.iml
/*/*/bin
/.project
/ToolMakeChannelApk/apk
/ToolMakeChannelApk/apk-jiagu
/ToolMakeChannelApk/channels
/ToolMakeChannelApk/apktool
/app/.bugtags.log
/jsBundles
/local.properties
/build
.DS_Store
log.txt
/scripts/__pycache__
components
/configs/bugly/buglybin
/configs/bugly/cp_buglyQqUploadSymbolLib.jar
#x_scripts
#x_dev
#librarys
