<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doctorwork.android.sdk.logreport">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.doctorwork.android.logreport.act.PermissionsActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>