<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.medlinker.video">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:name=".VideoCallActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VideoDataLoadingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".floating.VideoCallFloatingService"
            android:exported="false" />
    </application>
</manifest>
